
*.prop

*.apk

*.ap_

*.d

*.apk

*.prop

*.dex

*.ap_

*.jar

amberMx/platforms/android/ant-build/amberMx-debug.apk

amberMx/platforms/android/ant-build/amberMx-debug.apk

amberMx/platforms/android/ant-build/amberMx.ap_.d

amberMx/platforms/android/ant-build/amberMx.ap_

amberMx/platforms/android/ant-build/amberMx.ap_

amberMx/platforms/android/ant-build/build.prop

amberMx/platforms/android/ant-build/build.prop

amberMx/platforms/android/bin/amberMx.apk

amberMx/platforms/android/bin/classes.dex

amberMx/platforms/android/bin/classes.dex

amberMx/platforms/android/bin/resources.ap_

amberMx/platforms/android/bin/resources.ap_

amberMx/platforms/android/ant-build/amberMx-debug-unaligned.apk

*.apk

*.prop
